/* MODALS */

.rodal-dialog {
    height: auto !important;
    bottom: auto !important;
    top: 50% !important;
    transform: translateY(-50%);
}

.modalBody {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modalHeader, .modalContent, .modalButtons {
    margin: 10px 0;
}

.modalBody img {
    max-width: 50px;
    margin-bottom: 5px;
}

.modalContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modalTitle {
    text-transform: uppercase;
}

.modalButtons {
    display: flex;
    justify-content: space-evenly;
}

.modalButtons button {
    width: 100%;
    margin: 15px 15px 0 15px;
}

@media only screen and (max-width:465px) {
    .rodal-dialog {
        max-width: 90%;
    }
}