/* HEADER */

header#main-header {
    color: #fff;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0px;
    background: var(--primary);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    z-index: 99;
}

header#main-header .header-content {
    margin: 0 auto;
    height: 72px;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

div .logo-content {
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: flex-start;
}

div .logo-content img {
    width: 50px;
    padding: 5px;
}

#bars {
    padding: 15px;
}

#bars:hover {
    cursor: pointer;
}

/* HEADER */

/* SIDE */

#side-menu {
    top: 70px;
    position: fixed;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
    background: #fff;
    width: 300px;
    display: inline-block;
    height: calc(100vh - 70px);
    z-index: 9;
}

#logo-box img {
    height: 70px;
    margin: 0px auto;
    display: block;
    width: auto;
    padding: 15px 0;
}

#logo-box {
    background: #fff;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

li span {
    margin-left: 15px;
}

ul {
    padding: 0px;
    margin: 0px;
}

#menu header {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 15px;
    height: 25px;
    background: #f1f1f1;
}

.itemWrapper {
    border-bottom: 1px solid #e9e9e9;
}

.menu-item {
    padding: 15px;
    display: flex;
    align-items: center;
}

.menu-item img {
    max-width: 30px;
}

.menu-item:hover, .active-menu {
    background: var(--primary);
    cursor: pointer;
    color: white;
}

#menu nav {
    overflow-y: auto;
    max-height: calc(100vh - 245px);
}

#user-info {
    margin-left: 15px;
    overflow: hidden;
}

#user-info span {
    font-size: 13px;
}

#user-info button {
    border: none;
    margin: 0px;
    padding: 0 15px;
    float: right;
    width: auto;
}

#user-info button:hover {
    border: none;
    background: none;
    color: var(--primary);
    opacity: 0.7;
}

#dropdown-login {
    position: absolute;
    right: 0px;
    top: 154px;
    background: white;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
    z-index: 3;
}

#dropdown-login ul li, #dropdown-login ul a, #dropdown-login ul button {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom: 1px solid #fafafa;
    padding: 15px;
    cursor: pointer;
    color: black;
    text-transform: none;
    font-family: 'Trebuchet MS';
    font-weight: normal;
    text-align: left;
}

#dropdown-login ul li:hover, #dropdown-login ul a:hover, #dropdown-login ul button:hover {
    background: #fafafa;
    color: black;
    border-bottom: 1px solid #fafafa;
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .menu-item:hover {
        background: white;
        color: var(--primary);
    }
}

@media only screen and (max-width: 425px) {
    #main-ul {
        padding-bottom: 125px;
    }
}

/* SIDE */